@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
}

.container {
    text-align: center;
    background-color: white;
    max-width: 400px;
    border-radius: 1em;
    overflow: auto;
    padding-bottom: 1em;
}

.cover-img {
    width: 100%;
}

.intro-section {
    width: 85%;
    margin: 2em auto 0 auto;
    line-height: 1.7em;
}

.intro-title {
    color: hsl(220, 20%, 12%);
    font-weight: 900;
    /* font-size: 5em; */
}

.description {
    color: #A0A5B5;
}

.plan-section {
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: hsl(225, 100%, 98%);
    border-radius: 0.5em;
}

.music-img {
    width: 3em;
    height: 3em;
}

.plan {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.plan p {
    margin: 0.2em;
    font-size: 13px;
}

.plan-title {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.plan-price {
    color: 	#A4A9BE;
}

.change-link {
    font-size: 12px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    margin-left: auto;
}

.change-link:hover {
    text-decoration: none;
    color: #756BF1;
}

.button-section {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
}

.payment-btn {
    background-color: hsl(245, 75%, 52%);
    color: white;
    padding: 1em 1.5em;
    border-radius: 0.8em;
    border: none;
    box-shadow: 0 20px 10px -10px #E2E0FA;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 1em;
    cursor: pointer;
}

.payment-btn:hover {
    background-color: #756BF1;
}

.cancel-btn {
    background-color: white;
    color: hsl(224, 23%, 55%);
    padding: 1em 1.5em;
    border: none;
    font-size: 0.9em;
    font-weight: 700;
    cursor: pointer;
}

.cancel-btn:hover {
    color: black;
}

.attribution {
    margin-top: 2em;
}

@media only screen and (min-width: 1440px) {
    .plan-section {
        margin: 2.5em;
        padding: 1.2em 1.5em;
        border-radius: 0.7em;
    }

    .plan p {
        font-size: 15px;
    }

    .change-link {
        font-size: 13px;
    }

    .button-section {
        margin: 0 2.5em;
        padding-bottom: 0.5em;
    }

}



